<nav>
    <ul>
        <ul>
            <li><a href="/cats">All Cats</a></li>
            <li>
                <a href="/cats/species/British Shorthair">British Shorthair</a>
            </li>
            <li><a href="/cats/species/Bengal">Bengal</a></li>
            <li><a href="/cats/species/Siamese">Siamese</a></li>
        </ul>
    </ul>
</nav>
